asgiref==3.2.7
BTrees==4.7.2
cffi==1.14.0
image==1.5.28
persistent==4.6.4
Pillow==9.0.1
pycparser==2.20
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
transaction==3.0.0
zc.lockfile==2.0
ZConfig==3.5.0
ZODB==5.5.1
zodbpickle==2.0.0
zope.interface==5.1.0
requests~=2.23.0
cryptography>=3.2
PyAutoGUI~=0.9.50
easygui~=0.98.1
pythonping~=1.0.10
